.container {
    width: 100%;
    // padding-left: 115px;
    // padding-right: 115px;
    margin: 0 auto;
}

@media screen and (max-width: 479px) {
    .container {
    //   width: 280px;
    }
}

// @media screen and (min-width: 480px) {
//     .container {
//       width: 400px;
//     }
// }

@media screen and (min-width: 768px) {
    .container {
        width: 730px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1280px;
    }
}